/*.navbar {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    border-radius: 4px;*/
/*}*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.navbar__link {
    /*margin: 1em;*/
    font-size: 1.2em;
    font-family: "Medium" , "Montserrat";
    cursor: pointer;
    text-decoration: none;
    letter-spacing: 0;
    color: #FFFFFF;
}


.navbar__link:hover {
    text-decoration: none;
    color: inherit;
}

.navbar__link__active {
    color: #84B6A3;
    background-color: #FFFFFF;
    border-radius: 0 1.5em 1.5em 0;
}
.navbar__link__active img{
    filter: hue-rotate(180deg) brightness(0.5) saturate(600%);
}
.navbar__link__active:hover {
    color: #84B6A3;
}