.description div{
    height: 260px;
    background: #669885;
}

.description p{
    font-family: 'Montserrat', Medium ;
    font-size: 1.8em;
    letter-spacing: 0px;
    color: #FFFFFF;
    width: 90%;
}
