.startHeader{
    background-color: #669885 ;
    box-shadow: 0 3px 6px #00000029;
    height: 100%;
}

.startHeader button{
    border: 1px solid #FFFFFF;
    border-radius: 17px;
    background-color: #669885;
    color: #FFFFFF;
    outline: none;
    text-decoration: none;
}

.startHeader button:hover{
    background-color: #FFE18B;
}




